@import 'tailwindcss';

/*
  Variables
*/
:root {
  --main-color: #4b6378;
  --sub-color: #5d96d4;
  --sub-color2: #80adeb;
  --bg-color: #f2f6f8;
  --highlight: #fbbf2480;

  /* --font-base: 16px; */
  --size-ss: 0.8rem;
  --size-sm: 1.25rem;
  --size-sl: 1.563rem;
  --size-ms: 1.953rem;
  --size-mm: 2.441rem;
  --size-ml: 3.052rem;
  --size-lg: 3.815rem;

  --content-width: 896px;
  --header-width: 1040px;

  --font-base:
    font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans',
    'BIZ UDPGothic', Meiryo, sans-serif;
  --font-heading: 'Quicksand Variable', 'Zen Maru Gothic', sans-serif;
}

/*
  Base
*/
body {
  margin: 0;
  padding: 0;
  color: var(--main-color);
  background-color: var(--bg-color);
}

img {
  max-width: 100%;
  height: auto;
}

/*
  Layout
*/
.l-section {
  padding: 5rem 0;
}

.l-section.--bg {
  background-color: #fff;
}

.l-section > .l-inner {
  container-type: inline-size;
  max-width: var(--content-width);
  margin-right: auto;
  margin-left: auto;
  padding-inline: max(2vw, var(--size-sl));
}

.l-section > * + p {
  margin-top: 1rem;
}

@media screen and (min-width: 896px) {
  .l-section > .l-inner {
    padding: 0;
  }
}

/*
  Component
*/
/* Component - Heading */
.c-heading {
  margin-bottom: var(--size-mm);
  font-size: var(--size-ms);
  color: var(--main-color);
  font-family: var(--font-heading);
  font-weight: bold;
  text-align: center;
}

.c-heading::before {
  content: attr(data-subtext);
  display: block;
  margin: 0;
  color: var(--sub-color);
  font-size: var(--size-ss);
  text-transform: uppercase;
}

/* Component - subHeading */
.c-subHeading {
  position: relative;
  padding-bottom: var(--size-ss);
  font-size: var(--size-sm);
  font-family: var(--font-heading);
  font-weight: bold;
  text-align: center;
}

.c-subHeading::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 50px;
  height: 5px;
  background-color: var(--sub-color2);
  border-radius: 50rem;
}

/* Component - Hightlight */
.c-highlight {
  font-weight: bold;
  background-image: linear-gradient(0deg, var(--highlight) 0.5em, transparent 0.5em);
}

/* Component - tags */
.c-tags {
  display: flex;
  margin-bottom: 0.5rem;
  gap: 1rem;

  li {
    padding: 0 var(--size-sl);
    color: #fff;
    font-size: var(--size-ss);
    font-family: var(--font-heading);
    line-height: 1.8;
    background-color: var(--sub-color);
    border-radius: 5px;
  }
}

/* Component - Button */
.c-button {
  display: inline-block;
  padding: 1rem 2rem;
  color: #fff;
  background-color: var(--sub-color);
  border-radius: 50em;
  box-shadow: 0 4px 0 rgba(75, 99, 120, 18%);
  transition: all 0.2s ease-in-out;
}

.c-button:hover {
  transform: translateY(4px);
  box-shadow: none;
}

.c-button--white {
  color: var(--sub-color);
  background-color: #fff;
}

/* Component - topic */
.c-topic {
  margin: 2rem auto;
  padding: 1.5rem 1.5rem;
  background-color: #fff;
  border-radius: 10px;
}

.c-topic > ul {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/*
  Utility
*/

/* Utility - device */
.u-forPC {
  display: none;
}

.u-forSP {
  display: block;
}

@media (min-width: 1024px) {
  .u-forPC {
    display: block;
  }

  .u-forSP {
    display: none;
  }
}
