---
import HeaderContent from '../components/HeaderContent.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import Mainvisual from '../components/Mainvisual.astro';
import About from '../components/Top_about.astro';

import '../styles/global.css';
import '@fontsource/zen-maru-gothic/400.css';
import '@fontsource-variable/quicksand';

import { getCollection } from 'astro:content';
const projectAllEntries = await getCollection('projects');

// 下書きを除外＆並び順調整
const publishEntries = projectAllEntries
.filter(
	(post) => !post.data.draft
)
.sort((a, b) => {
	if (!a) return 1;
	if (!b) return -1;

	const orderA = a.data?.order ?? Infinity;
	const orderB = b.data?.order ?? Infinity;

	// 並び順が設定されているものは並び替える
	if ( orderA !== Infinity || orderB !== Infinity ) {
		return orderA - orderB;
	}

	// 並び順が設定されていないものはスラッグ名で並び替える
	return a.slug.localeCompare(b.slug);
});
---

<html lang="ja">
	<head>
		<HeaderContent />
	</head>
	<body>
		<Header />
		<main>
			<Mainvisual />
			<div class="l-mainContents">
				<About />
				<section class="l-section l-section--skills" id="skills">
					<div class="l-inner">
						<h2 class="c-heading" data-subtext="Skills">スキル</h2>
						<div class="p-skills">
							<section class="p-skills__section">
								<h3 class="c-subHeading">技術スキル</h3>
								<dl class="p-skills_list">
									<div class="p-skills__listitem">
										<dt>HTML</dt>
										<dd>実務レベル</dd>
									</div>
									<div class="p-skills__listitem">
										<dt>CSS</dt>
										<dd>実務レベル</dd>
									</div>
									<div class="p-skills__listitem">
										<dt>JavaScript</dt>
										<dd>実務経験あり</dd>
									</div>
									<div class="p-skills__listitem">
										<dt>モダンJSフレームワーク（React / Vue）</dt>
										<dd>入門レベル</dd>
									</div>
									<div class="p-skills__listitem">
										<dt>WordPress</dt>
										<dd>実務レベル</dd>
									</div>
									<div class="p-skills__listitem">
										<dt>Movable Type</dt>
										<dd>実務レベル</dd>
									</div>
								</dl>
								<p>その他制作経験のあるCMS：a-blog CMS</p>
							</section>
							<section class="p-skills__section">
								<h3 class="c-subHeading">ソフトウェア</h3>
								<dl class="p-skills_list">
									<div class="p-skills__listitem">
										<dt>Adobe Photoshop</dt>
										<dd>実務レベル</dd>
									</div>
									<div class="p-skills__listitem">
										<dt>Adobe Illustrator</dt>
										<dd>実務レベル</dd>
									</div>
									<div class="p-skills__listitem">
										<dt>Adobe XD</dt>
										<dd>実務レベル</dd>
									</div>
									<div class="p-skills__listitem">
										<dt>Figma</dt>
										<dd>実務経験あり</dd>
									</div>
									<div class="p-skills__listitem">
										<dt>Microsoft Office</dt>
										<dd>実務レベル</dd>
									</div>
								</dl>
							</section>
						</div>
					</div>
				</section>
				<section class="l-section l-section--project --bg" id="project">
					<div class="l-inner">
						<h2 class="c-heading" data-subtext="Browse My Recent Projects">制作物</h2>
						<ul class="p-projectList">
							{
								publishEntries.map((projectPostEntry) => (
									<li class="p-projectList__item">
										<a href={`/projects/${projectPostEntry.slug}`}>
											<div class="p-projectList__thumbnail"><img src={projectPostEntry.data.thumbnail} alt="" /></div>
											<ul class="p-projectList__category c-tags">
												{
													projectPostEntry.data.category.map((cat) =>
														<li>{cat}</li>
													)
												}
											</ul>
											<h3 class="p-projectList__title">{projectPostEntry.data.title}</h3>
										</a>
									</li>
								))
							}
						</ul>
					</div>
				</section>
			</div>
		</main>
		<Footer />
	</body>
</html>
<style>
	.p-skills {
		display: grid;
		gap: 5.55vw 32px;
	}

	.p-skills__section {
		display: grid;
		grid-template-rows: subgrid;
		grid-row: span 3;
		grid-gap: 2rem;
		padding: 2rem 1.5rem;
		background-color: #fff;
		border-radius: 10px;
	}

	.p-skills_list dt {
		padding-left: 2.5rem;
		font-size: 1.25rem;
		font-weight: bold;
		background: transparent url('/images/ico_check.svg') no-repeat left center;
		background-size: 1.5rem;
	}

	.p-skills_list dd {
		padding-left: 2.5rem;
	}

	.p-skills_list div + div {
		margin-top: 1.75rem;
	}

	@media (min-width: 768px) {
		.p-skills {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
	}

	.p-projectList {
		display: grid;
		gap: 5.55vw 2rem;
	}

	@media (min-width: 768px) {
		.p-projectList {
			grid-template-columns: repeat(2, minmax(0, 1fr));
			gap: 2rem;
		}
	}

	.p-projectList__item {
		display: flex;
		grid-template-row: subgrid;
		grid-row: span 3;
	}

	.p-projectList__thumbnail {
		border-radius: 10px 10px 0 0;
		overflow: hidden;
	}

	.p-projectList__thumbnail img {
		aspect-ratio: 4 / 3;
		object-fit: cover;
	}

	.p-projectList__item a {
		position: relative;
		top: 0;
		background: #fff;
		border-radius: 10px;
		border: 1px solid rgba(75,99,120,18%);
		box-shadow: 0 4px 0 rgba(75,99,120,18%);
		transition: 0.2s ease;
	}

	.p-projectList__item a:hover {
		transform: translateY(4px);
		box-shadow: none;
	}

	.p-projectList__category {
		padding: 1rem 1rem 0;
	}

	.p-projectList__title {
		padding: 0 1rem 1rem;
		font-size: 1.25rem;
		font-weight: bold;
	}
</style>