---
import HeaderContent from '../components/HeaderContent.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import Mainvisual from '../components/Mainvisual.astro';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
import Projectlist from '../components/Projectlist.astro';

import '../styles/global.css';
import '@fontsource/zen-maru-gothic/400.css';
import '@fontsource-variable/quicksand';

import { getCollection } from 'astro:content';

// 下書きを除外＆並び順調整
const projectAllEntries = await getCollection('projects');
const publishEntries: typeof projectAllEntries = projectAllEntries
.filter(
	(post) => !post.data.draft
)
.sort((a, b) => {
	const orderA = a.data?.order ?? Infinity;
	const orderB = b.data?.order ?? Infinity;

	// 並び順が設定されているものは並び替える
	if ( orderA !== Infinity || orderB !== Infinity ) {
		return orderA - orderB;
	}

	// 並び順が設定されていないものはスラッグ名で並び替える
	return a.slug.localeCompare(b.slug);
});
---

<html lang="ja">
	<head>
		<HeaderContent />
	</head>
	<body>
		<Header />
		<main>
			<Mainvisual />
			<div class="l-mainContents">
				<About />
				<Skills />
				<Projectlist items={publishEntries} />
			</div>
		</main>
		<Footer />
	</body>
</html>