<footer class="footer">
    <p>&copy; 2025 KOMATA Mayumi</p>
</footer>
<style>
    .footer {
        padding: 0.5rem;
        text-align: center;
        color:#fff;
        background-color: var(--main-color);
    }

    .footer__copyright {
        font-size: 1rem;
    }
</style>