---
const { title } = Astro.props;

const siteName = 'KOMATA Mayumi Portfolio';
const isTop = Astro.url.pathname === '/';
const fullTitle = isTop ? siteName : `${title} | ${siteName}`;
---

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<meta name="robots" content="noindex" />
<title>{fullTitle}</title>